


.company {
    opacity: 0;
    transform: translateY(100px); 
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .company.active {
    opacity: 1;
    transform: translateY(0);
  }
  .about__content  hr {
    width: 80px;
        height: 2px; 
        background-color: black; 
        
  }

