

.section__content h2{
    font-weight: 600;
    line-height: 55px;
}

.title {
    animation: typing 4s ;
    color: #00B1DA;
}

@keyframes typing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.section-info {
   margin: 90px;
    opacity: 0;
    transform: translateY(100px); 
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .section-info.active {
    opacity: 1;
    transform: translateY(0);
  }

  .image {
 height:20% ;  
    margin-top: -30%;
}

.centered {
    text-align: center;
    margin-right: -100%;
   margin-top: -88%;
    color: #f8f3f3;
    font-family: "Roboto", sans-serif;
    font-size: 65px;
    font-weight: 700;
    font-style: italic;
    display: block; 
  white-space: nowrap;
  overflow: hidden;
}

